<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MT_Coop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MT_Coop.Properties.Settings>
            <setting name="licenseKey" serializeAs="String">
                <value>FEB5EB9A91356</value>
            </setting>
            <setting name="userdb" serializeAs="String">
                <value>rod</value>
            </setting>
            <setting name="passdb" serializeAs="String">
                <value>mangtinapaychoco</value>
            </setting>
            <setting name="namedb" serializeAs="String">
                <value>mtcoop</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value>unknown</value>
            </setting>
            <setting name="serverdb" serializeAs="String">
                <value>122.54.146.208</value>
            </setting>
        </MT_Coop.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
